.App {
  text-align: center;
}

.active {
  border-bottom: 3px solid crimson;
  font-weight: bold;
}
.carousel-caption {
  background: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.603));
}
.customers-review-section{
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 3%;
  background-repeat: no-repeat;
  background-position: cover;
}
.customers-review-individual .customer-img{
  width: 40%;
  height: 40%;
  border-radius: 100%;
}
.rating{
  width: 40%;
}